/* Modal */
.hpl-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.hpl-modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    max-width: 400px;
    width: 90%;
}

.hpl-modal-header {
    font-size: 1.6rem;
    font-weight: 600;
}

.hpl-modal-product-thumbnail {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 10px auto;
}
.hpl-modal-footer span {
    font-size: .9rem;
}

.hpl-modal-footer .hpl-modal-close,
.hpl-modal-footer .hpl-modal-confirm {
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.hpl-modal-footer .hpl-modal-close {
    background: #ccc;
    color: #000;
}

.hpl-modal-footer .hpl-modal-confirm {
    background: #28a745;
    color: white;
    text-decoration: none;
}

/* Navegação das Abas */
.elementor-widget-hpl_products_list .hpl-tabs-header {
    --gap : 10px;

    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
}

.elementor-widget-hpl_products_list .hpl-tab-item {
    flex: 1;
    min-width: 130px;
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;

    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.elementor-widget-hpl_products_list  .hpl-tab-item span {
    font-size: 1rem;
}

.elementor-widget-hpl_products_list .hpl-tab-item.hpl-active {
    box-shadow: 0px 4px 15px 0px rgb(0 0 0 / 50%);
}

.elementor-widget-hpl_products_list .hpl-tabs-content {
    background-color: #fff;
}

.elementor-widget-hpl_products_list .hpl-tab-content {
    display: none;
}

.elementor-widget-hpl_products_list .hpl-tab-content.hpl-active {
    
    display: block;
}

/* Item do Produto */
.elementor-widget-hpl_products_list .hpl-variation-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 8px;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px 8px;
    font-size: 1rem;
}

.elementor-widget-hpl_products_list .hpl-variation-header {
    display: flex;
    align-items: center;
    gap: 4px;
}

.elementor-widget-hpl_products_list .hpl-variation-header .hpl-variation-badge {
    display: flex;
    align-items: center;
}
.elementor-widget-hpl_products_list .hpl-variation-header img {
    width: 20px;
}

.elementor-widget-hpl_products_list .hpl-variation-info {
    display: flex;
    align-items: center;
}

.elementor-widget-hpl_products_list .hpl-product-thumbnail {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 5px;
    display: block;
}

.elementor-widget-hpl_products_list .hpl-buy-button {
    padding: 10px 15px;
    background-color: #3f3f3f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Responsivo */
@media (max-width: 1024px) {
    .elementor-widget-hpl_products_list .hpl-variation-action,
    .elementor-widget-hpl_products_list .hpl-variation-action button {
        width: 100%;
    }
}
@media (max-width: 767px) {
    .elementor-widget-hpl_products_list .hpl-tab-item {
        padding: 10px;
    }
    .elementor-widget-hpl_products_list .hpl-tab-item span {
        font-size: .8rem;
    }
    .elementor-widget-hpl_products_list .hpl-variation-header {
        font-size: 1.3rem;
    }
    .elementor-widget-hpl_products_list .hpl-variation-info {
        font-size: .9rem;
    }
}